/node_modules
/public/mix-manifest.json
/public/sitemap.xml
/public/css
/public/js
/public/EarlyAccess
/public/hot
/public/storage
/storage/*.key
/vendor
/.vscode
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
